$mobile-portrait: 361px;
$mobile-landscape: 321px;
$pc-full: 974px;
$tablet: 767px;

header{
    width:102%;
}

.container-fluid{
    .navbar-default{
        background-color: rgb(63,72,204);
    }
    a{
        color: rgb(28,142,62);
        font-weight: normal;
        text-shadow: 1px 1px 2px black;
        font-size: 1.0em;
    }
}
    
.navbar-brand{
    width: 100%;
    img{
        display: block;
        height: auto;
        width: 100%;
        min-width: 50px;
        max-width: 150px;
        margin-left: auto;
        margin-right: auto;
    }
}

.navbar-nav{
    display: inline;
    text-align: center;
    li{
        float: left;
    }
}

@media only screen and (min-device-width: $pc-full){
    .navbar.row{
        height: 50px;
    }
    .navbar-brand{
        max-width: 50px;
    }
}

@media only screen and (max-device-width: $tablet){
    .news{
        display: none;
    }
}
        
.title{
    text-align: center;
    font-size: 3em;
}

.Jumbotron{
    background-color: rgb(28,142,62);
}

section.core.container-fluid.col-sm-12.col-md-8{
    background-color: #DAE5F1;
    margin-top: 25px;
    padding: 1% 10% 0% 10%;
}

footer{
    p{    
        text-align: center;
    }
    
}